{%extends 'base.html'%}

{% block header %}
{% include 'components/header.html' with islogin=True %}
{% endblock %}
{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}

{% block content %}
{% if error %}
{{ error }}
<br />
{% endif %}

<h1>Login</h1>

<form method="POST" action="{% url 'account:login' %}">
{% csrf_token %}
Username:
<br />
<input type="text" name="username" />
<br />
Password:
<br />
<input type="password" name="password" />
<br />
<br />
<input class="btn btn-primary" type="submit" value="Login" />
</form>
{% endblock %}
